$phone: "only screen and (max-width: #{em(567)})";
$tablet: "only screen and (min-width: #{em(568)})";
$mobile: "only screen and (max-width: #{em(1024)})";
$laptop: "only screen and (min-width: #{em(1025)})";
$desktop: "only screen and (min-width: #{em(1280)})";
$monitor: "only screen and (min-width: #{em(1448)})";
